/* PRESTYLES */

html {
  scroll-behavior: smooth;
}
/* ::-webkit-scrollbar {
  width: 0;
} */
*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

input:not(:checked) + label {
  color: #ffffff;
  transition: 0.5s;
}

a:hover,
input:hover + label {
  color: #bdae82;
  transition: 0.5s;
}

input:checked + label {
  color: #bdae82;
  transition: 0.5s;
}

button {
  border: 0;
  padding: 0;
  cursor: pointer;
  background-color: inherit;
}

button:hover {
  box-shadow: 0 0 0 0.7em rgba(255, 255, 255, 0);
  animation: pulse 1s;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #bdae8277;
  }
}

label {
  cursor: pointer;
}

.body {
  margin: 0;

  color: white;
  font-size: 100%;
  background-color: #000000;
}

/* GLOBALSTYLES */
/* позже перенесу сюда повторяющиеся стили, шрифты и т.д., мб добавлю переменные */

ul {
  padding: 0;
}

/* HEADER STYLES */
.container {
  display: flex;
  flex-direction: column;

  width: 1440px;
  margin: 0 auto;
}

.head {
  display: flex;
  justify-content: space-between;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  align-items: center;

  height: 90px;

  margin: 0 20px;
  z-index: 1;
}

.logo {
  margin-top: 4px;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: 0.5s;
}

.nav {
  margin: 0 0 0 auto;
  padding: 0 3.7px;
}

.nav-list {
  display: flex;
  justify-content: space-between;

  list-style: none;
  margin: 0 15px 0 30px;
}

.nav-link {
  color: white;
}

.nav-item {
  margin: 0 15px;
}

.header-radio {
  display: none;
}

.lang span {
  padding: 0 4px;
}

.lng-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
}

.lng {
  cursor: pointer;
  transition: 0.5s;
}

.lng:hover {
  color: #bdae82;
  transition: 0.5s;
}

.lng-switch .lng-active {
  color: #bdae82;
  transition: 0.5s;
}

/* MAINHERO STYLES */

.hero {
  display: flex;
  flex-direction: column;
  padding: 273px 860px 329px 60px;

  background: url("assets/img/jpg/bg.jpg");

  background-repeat: no-repeat;
  background-position: center 0;

  margin-top: -90px;
}

.hero-name {
  font-family: "Merriweather", serif;

  font-weight: bold;
  font-style: normal;
  font-size: 60px;

  color: #ffffff;

  padding-left: 20px;
}

.hero-text {
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 12px;

  font-family: Inter;

  font-weight: normal;

  font-size: 20px;
  line-height: 40px;
}

.buttons {
  color: #000000;
  background-color: #bdae82;
}

.hero-button {
  margin: 5px 0 0 20px;

  height: 55px;
  width: 220px;

  font-family: "Inter", sans-serif;

  font-size: 20px;
}

.hero-button:hover {
  color: #ffffff;
  transition: 0.5s;
}

/* MAINSKILLS STYLES */

.skills {
  display: flex;
  flex-direction: column;
  padding: 100px 0 0 0;
  background-color: black;
}

.skills-title {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;

  text-align: center;
  color: #bdae82;
}

.skills-title::before,
.skills-title::after {
  display: inline-block;
  content: "";
  border-top: 2px solid #bdae82;
  width: 274px;
  margin: -4px 20px;
  transform: translateY(-1rem);

  border-radius: 0px;
}

.skills-items {
  display: flex;
  justify-content: space-between;
  padding: 60px 40px 0;

  font-family: "Inter", sans-serif;
  padding-bottom: 92px;
}

.skills-item,
.skills-item4 {
  text-align: center;
  padding-right: 8.5px;
}
.skills-item {
  width: 287.13px;
}
.skills-item2 {
  width: 282.36px;
}

.skills-item3 {
  width: 266.94px;
}
.skills-item4 {
  width: 270.42px;
}

.skills-h3 {
  padding-top: 48px;
  font-size: 20px;
  line-height: 40px;
}

.skills-text {
  font-size: 18px;
  line-height: 36px;
  padding-top: 1px;
}

.skills-item2,
.skills-item3 {
  text-align: center;
  padding-right: 23.4px;
}

/* PORTFOLIOBLOCK STYLES */

.portfolio {
  display: flex;
  flex-direction: column;
  margin-top: -1px;
  padding-top: 1px;
}

.portfolio-title {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;

  /* padding-top: 92px; */
  text-align: center;
  color: #bdae82;
}

.portfolio-title:before,
.portfolio-title:after {
  display: inline-block;
  content: "";
  border-top: 2px solid #bdae82;
  width: 240px;
  margin: -4px 20px;
  transform: translateY(-1rem);

  border-radius: 0px;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.portfolio-button {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  /* background-color: #000000; */
  color: #bdae82;
  border: solid 2px #bdae82;

  margin: 60px 0;
  width: 220px;
  height: 55px;
}

.portfolio-button:hover {
  color: #ffffff;
  transition: 0.5s;
}

.portfolio-button.active {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  background-color: #bdae82;
  color: #000000;
  border: solid 2px #bdae82;

  /* margin: 60px 0; */
  width: 220px;
  height: 55px;
}

.portfolio-button.active:hover {
  color: #ffffff;
  transition: 0.5s;
}

.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 0 20px;

  padding-bottom: 101px;
}

/* VIDEOPLAYER STYLES */

.video {
  display: flex;
  flex-direction: column;
}

.video-title {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;

  /* padding-top: 100px; */
  text-align: center;
  color: #bdae82;
}

.video-title:before,
.video-title:after {
  display: inline-block;
  content: "";
  border-top: 2px solid #bdae82;
  width: 273px;
  margin: -4px 20px;
  transform: translateY(-1rem);

  border-radius: 0px;
}

.video-player {
  margin: 60px 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  height: 705px;
  background-repeat: no-repeat;
  background-image: url(assets/img/jpg/video-player.jpg);
  /* padding-bottom: 40px; */
}

.v-button {
  background-color: transparent;
  border-radius: 50%;
}

.video-button {
  padding-left: 3px;
  /* cursor: pointer;
    border-radius: 50%; */
}

.video-button:hover {
  transition: 0.5s;
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

/* PRICE STYLES */

.price {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.price-title {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;

  padding-top: 43px;
  text-align: center;
  color: #bdae82;
}

.price-title:before,
.price-title:after {
  display: inline-block;
  content: "";
  border-top: 2px solid #bdae82;
  width: 280px;
  margin: -3px 20px;
  transform: translateY(-1rem);

  border-radius: 0px;
}

.price-blocks {
  display: flex;
  justify-content: space-between;
  gap: 25px;

  text-align: center;
  padding-top: 60px;

  margin: 0 20px 0 20px;
}

.price-block {
  margin: 0 auto;
  border: 3px solid #bdae82;
  width: 450px;
  padding: 40px 0;
}

.price-article-title {
  font-family: "Merriweather";
  font-size: 28px;
  line-height: 56px;
}

.price-rate {
  font-family: "Merriweather";
  font-size: 24px;
  line-height: 48px;
  color: #bdae82;

  padding-top: 20px;
  padding-bottom: 20px;
}

.price-block span {
  display: block;

  font-family: "inter";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 36px;
}

.price-button {
  margin-top: 40px;
  height: 55px;
  width: 220px;

  font-family: "Inter", sans-serif;
  border: solid 2px #bdae82;
  font-size: 20px;
}

.price-button:hover {
  color: #ffffff;
  transition: 0.5s;
}

/* CONTACTS STYLES */

.contacts {
  display: flex;
  background-image: url(./assets/img/jpg/contacts.jpg);
  height: 700px;
}

.contacts-block {
  display: flex;
  flex-direction: column;
  padding: 75px 0 195px 970px;
}

.contacts-title {
  font-family: "Merriweather";
  font-size: 40px;
  font-weight: 700;
  font-style: normal;

  color: #bdae82;
  padding-bottom: 56px;
}

form {
  display: block;
  margin-top: 0;
  max-width: 450px;
  max-height: 325px;
}

::placeholder,
input,
textarea {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 40px;
  color: #bdae82;
  transition: 0.5s;
}

.input {
  display: block;
  margin-bottom: 20px;
  width: 450px;
  height: 50px;

  border: 2px solid #bdae82;
  background: rgba(0, 0, 0, 0.5);

  padding: 3px 18px;
  outline: none;
}

.textarea {
  display: block;
  width: 450px;

  border: 2px solid #bdae82;
  background: rgba(0, 0, 0, 0.5);

  height: 100px;

  resize: none;
  margin-bottom: 30px;

  padding: 3px 18px;
  outline: none;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: white;
  transition: 0.5s;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
  transition: 0.5s;
}

.contacts-button {
  height: 55px;
  width: 220px;

  font-family: "Inter", sans-serif;
  border: 1px solid #bdae82;
  font-size: 20px;
}

.contacts-button:hover {
  color: #ffffff;
  transition: 0.5s;
}

/* FOOTER STYLES */

.footer {
  display: flex;

  width: 1440px;
  margin: 0 auto;
  background-color: #000000;
}

.footer-items {
  display: flex;
  justify-content: space-between;

  width: 1440px;
  height: 150px;
  padding: 50px 20px;
}

.footer-items-left {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  align-items: center;

  font-family: "Inter";
  font-size: 20px;
  line-height: 50px;
}

.footer-items-center {
  font-family: "Inter";
  font-size: 20px;
  line-height: 50px;

  align-items: center;
  padding-left: 20px;
}

.footer-items-right {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  align-items: center;

  list-style: none;
}

.social {
  padding-top: 3px;
}

.soc-icon:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: 0.5s;
}

/* ADAPTIVE */

.burger {
  display: none;
}
.burger-menu {
  display: none;
}

@media (max-width: 768px) {
  /* ::-webkit-scrollbar {
    width: 0;
  } */
  .hidden {
    overflow: hidden;
    /*  opacity: 0.6; */
  }

  .head {
    padding-left: 40px;
  }

  .lang {
    margin: 0 0 0 auto;
    padding-right: 15px;
  }

  .lng-switch {
    margin: 0 0 0 auto;
    padding-right: 15px;
  }

  .ru {
    margin-left: 12px;
  }

  .burger {
    display: block;
    /* position: fixed; */
    width: 50px;
    height: 50px;
    margin-right: 50px;
    padding-left: 5px;
    padding-top: 10px;
    z-index: 301;
  }
  .burger::before,
  .burger::after {
    content: "";
    background-color: #ffffff;
    /* position: fixed; */
    width: 50px;
    height: 3px;
    z-index: 301;
    transition: 0.5s;
  }
  .burger::before {
    top: 30px;
    position: absolute;
  }
  .burger::after {
    margin-top: 27px;
    position: absolute;
  }

  .spanburger {
    display: block;
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 50px;
    height: 3px;
    margin-top: 14px;
    transition: 0.5s;
  }

  .burger.active span {
    transform: scale(0) translate(0, -50%);
    transition: 0.5s;
    position: fixed;
  }

  .burger.burger.active::before {
    right: 56px;
    width: 63px;
    top: 44px;
    transform: rotate(-45deg) translate(0px, -50%);
    transition: 0.5s;
    position: fixed;
  }

  .burger.burger.active::after {
    right: 57px;
    width: 63px;
    top: 16px;
    transform: rotate(45deg) translate(0px, 50%);
    transition: 0.5s;
    position: fixed;
  }

  .burger-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    /* width: 80.93%; */
    width: 620px;
    height: 100%;
    transform: translate(100%, 0px);
    /* background-color: rgba(0, 0, 0, 0.9); */
    background-color: #000000;

    padding: 100px 30px 30px 30px;

    transition: all 0.3s ease 0s;

    overflow: auto;
  }

  @media (max-width: 619px) {
    .burger-menu {
      width: 100%;
    }

    .burger-menu-link {
      padding-left: 149px;
    }
  }

  .burger-menu.active {
    transform: translate(0px, 0px);
    box-shadow: 0 0 0 1500px rgba(0, 0, 0, 0.5);
  }

  .burger-menu-list {
    padding-top: 15px;
    display: fixed;

    font-family: "Inter", sans-serif;
    font-size: 35px;
    /* line-height: 73px; */
    list-style: none;
    padding-left: 97px;
  }

  .burger-menu-link {
    padding-bottom: 47px;
  }

  .container {
    margin: 0;
  }

  .nav {
    display: none;
  }

  .container {
    width: 768px;
  }

  /* .logo {
       width: 50px;
    } */

  .footer {
    width: 768px;
  }

  .hero {
    /* max-width: 768px; */
    width: 768px;

    background-position: -5px -30px;
    background-size: auto 620px;
    padding: 168px 0 150px 39px;
  }

  .hero-name {
    font-family: "Merriweather", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: normal;
    font-weight: 300;
    line-height: 64px;
  }

  .hero-text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;

    padding-top: 0;
    width: 470px;
  }

  .hero-button {
    margin: 40px 0 0 20px;
  }

  .skills-title,
  .portfolio-title,
  .video-title,
  .price-title {
    font-family: "Merriweather", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;

    padding-left: 0px;
  }

  .skills-title::before,
  .skills-title::after,
  .portfolio-title::before,
  .portfolio-title::after {
    margin: -6px 20px;
    width: 120px;
  }

  .skills-items {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 65px 40px 0;
  }

  .skills-item,
  .skills-item2 {
    padding-right: 13px;
  }

  .skills-item {
    width: 295px;
  }

  .skills-item3 {
    padding-left: 15px;
    width: 290px;
  }

  .skills-item3,
  .skills-item4 {
    padding-top: 56px;
  }

  .skills-h3 {
    padding-top: 27px;
  }

  .skills-text {
    line-height: 23px;
  }

  .portfolio {
    padding-top: 160px;
    /* margin-top: -1px; */
  }

  .portfolio-title::before,
  .portfolio-title::after {
    width: 90px;
  }

  .portfolio-buttons {
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px 100px 61px 100px;
  }

  .portfolio-button {
    margin: 0;
  }

  .portfolio-button + .active {
    margin: 0;
  }

  .portfolio-gallery {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }

  .video {
    height: 589px;
  }

  .video-title:after,
  .video-title:before {
    margin: -6px 20px;
    width: 115px;
  }

  .video-title {
    padding-bottom: 72px;
  }
  .video-player {
    margin: 0;
    background-image: url(./assets/img/jpg/768-video.jpg);
    width: 100%;
  }
  .v-button {
    margin-bottom: 58px;
    padding-right: 8px;
  }

  .video-button {
    width: 65px;
    height: 65px;
  }
  .price {
    padding-top: 0;
  }
  .price-title:before,
  .price-title:after {
    width: 120px;

    border-radius: 0px;
  }

  .price-blocks {
    padding-top: 70px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0;
    align-items: center;
  }

  .price-block {
    margin: 0;
    width: 420px;

    align-items: center;
  }

  .contacts {
    background-image: url(./assets/img/jpg/contacts-768.jpg);
    margin-top: -20px;
    height: 600px;
  }

  .contacts-block {
    padding: 60px 0 0 159px;
    text-align: center;
  }
  .contacts-title {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 64px;
    padding-bottom: 40px;
  }
  .footer {
    padding-bottom: 39px;
  }

  .footer-items {
    flex-direction: column;
    padding: 0 0 0 0;
  }

  .footer-items-left {
    justify-content: center;
    line-height: 24px;
    margin-top: 8px;
    padding-right: 2.5px;
  }

  .footer-items-center {
    text-align: center;
    line-height: 24px;

    padding-right: 20px;
    margin-top: -4px;
  }

  .footer-items-right {
    justify-content: center;
    margin-top: 25px;
  }

  .theme {
    margin: 0;
    padding-right: 70px;
  }

  .lng-switch {
    padding-right: 0px;
  }
}

/* THEME */

.theme {
  background-image: url(./assets/img/svg/Vector_Lune.svg);
  background-repeat: no-repeat;

  width: 45px;
  height: 45px;
  margin: 0 0 0 30px;
  cursor: pointer;
}

.theme:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: 0.5s;
}

.theme.light-theme-icon {
  background-image: url("./assets/img/svg/carbon_sun.svg");
}

.skills.light-theme {
  background-color: #ffffff;

  color: #000000;
}

.skills-title.light-theme {
  color: #000000;
}
.skills-title.light-theme:after,
.skills-title.light-theme:before {
  border-top: 2px solid #000000;
}

.portfolio.light-theme {
  background-color: #ffffff;
}

.portfolio-title.light-theme {
  color: #000000;
}
.portfolio-title.light-theme:after,
.portfolio-title.light-theme:before {
  border-top: 2px solid #000000;
}

.portfolio-buttons.light-theme > .portfolio-button {
  color: #000000;
}

.portfolio-buttons.light-theme > .portfolio-button.active {
  color: #ffffff;
}

.portfolio-buttons.light-theme > .portfolio-button:hover {
  background-color: #bdae82;
  color: #ffffff;
}

.video.light-theme {
  background-color: #ffffff;
  margin-top: -1px;
}

.video-title.light-theme {
  color: #000000;
}
.video-title.light-theme:after,
.video-title.light-theme:before {
  border-top: 2px solid #000000;
}

.price.light-theme {
  background-color: #ffffff;
  color: #000000;
  margin-top: -1px;
}

.price-title.light-theme {
  color: #000000;
}
.price-title.light-theme:after,
.price-title.light-theme:before {
  border-top: 2px solid #000000;
}

.burger-menu.light-theme {
  background-color: #ffffff;
}

.burger.light-theme.active:after,
.burger.light-theme.active:before {
  background-color: #000000;
}

.burger-menu-list.light-theme > .burger-menu-link > a {
  color: #000000;
}
