body,
html,
h1 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  background-color: #e4e9ed;
}

.title {
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}

.main {
  margin: 0;
  text-align: center;
}

.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  height: 400px;
}

.photo {
  display: flex;
  max-width: 320px;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  max-height: 400px;
  background-color: white;
}

.year1 {
  display: inline-block;
  width: 100px;
  font-size: large;
  text-shadow: gray 1px 2px 3px;
}
.year2 {
  display: inline-block;
  width: 100px;
  font-size: large;
  text-shadow: gray 1px 2px 3px;
}

.quote-block {
  padding-top: 2%;
  margin: 0 auto;
  text-align: center;
  max-width: 80%;
  /* height: 100px; */

  /* animation: ani 3s forwards; */
}

.quote-block-2 {
  opacity: 1;
  animation: ani 0.5s forwards;
}

.author {
  display: block;
  text-align: center;
  padding-top: 2%;

  color: gray;
  font-style: italic;

  /* animation: move 1s forwards; */
}

.author-2 {
  display: block;
  text-align: center;
  padding-top: 2%;

  color: gray;
  font-style: italic;
  animation: move2 0.5s forwards;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move {
  0% {
    transform: translate(-20%, 0);
  }
  /*   50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.9);
  } */
  100% {
    transform: translate(0, 0);
  }
}

@keyframes move2 {
  0% {
    transform: translate(-30%, 0);
  }
  /*   50% {
      text-shadow: 0 25px 50px rgba(0, 0, 0, 0.9);
    } */
  100% {
    transform: translate(0, 0);
  }
}

.quote {
  font-size: xx-large;
}

/* LANG */

.lng-switch {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  text-align: center;

  font-size: larger;
}

.lng {
  cursor: pointer;
  transition: 0.5s;
}

.lng:hover {
  color: #7e7e7e;
  transition: 0.5s;
}

.lng-switch .lng-active {
  color: #ffffff;
  transition: 0.5s;
}

.btn {
  margin-left: 5%;
  text-align: center;
  background-color: transparent;
  font-size: larger;

  width: 150px;
  height: 33px;
}

.btn:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 50px;

  /*  max-width: 400px;
  width: 100%; */
}

.avtor,
.year,
.rs {
  display: flex;
  justify-content: space-around;
  font-family: "Times New Roman", Times, serif;
}

.rsschool {
  padding-left: 50px;
  width: 70px;
  height: 50px;
}

.github {
  width: 40px;
  height: 40px;
  padding-top: 8px;
}

.year {
  padding-left: 50px;
  font-family: "Monoton";

  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  padding-top: 20px;
}
